@font-face {
  font-family: 'DM Sans';
  font-weight: 400 500;
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 400 500;
  font-style: italic;
  src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}

:root {
  --primary: hsl(256, 67%, 59%);
  --primary-light: hsl(254, 88%, 90%);
  --secondary: hsl(39, 100%, 71%);
  --secondary-light: hsl(31, 66%, 93%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 96%);
  --black: hsl(0, 0%, 7%);

  --fs-lg: 2.75rem;
  --fs-md: 1.5rem;
  --fs-par: 1.125rem;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    font-weight: 500;
    text-wrap: balance;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

@layer base {
  html {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
  }

  body {
    background-color: var(--off-white);
    color: var(--black);
    font-size: var(--fs-par);
  }

  h1,
  h2 {
    color: var(--title-color, inherit);
    font-size: var(--title-font-size, var(--fs-md));
    line-height: 1.1;

    .accent {
      color: var(--title-accent, var(--secondary));
    }

    .italic {
      font-style: italic;
    }
  }
}

@layer layout {
  .app-wrapper {
    padding: 2rem;
  }

  .bento-grid {
    display: grid;
    gap: 1.5rem;
  }

  .bento-grid > * {
    display: grid;
    gap: var(--bento-card-gap, 2rem);
    align-content: var(--bento-card-vertical-alignment, start);
    justify-items: var(--bento-card-horizontal-alignment, start);
    text-align: var(--bento-card-horizontal-alignment, start);

    border-radius: var(--bento-card-border-radius, 1.25rem);
    padding: var(--bento-card-padding, 2rem);
    background-color: var(--bento-card-bg, var(--white));
    color: var(--bento-card-color, var(--black));
  }

  .bento-grid img {
    max-width: var(--bento-card-img-width, 100%);
    order: var(--bento-card-img-order);
  }

  .bento-grid > :nth-child(1) {
    --title-font-size: var(--fs-lg);
    --title-accent: var(--secondary);
    --bento-card-horizontal-alignment: center;
    --bento-card-gap: 1rem;
    --bento-card-padding: 3rem;
    --bento-card-bg: var(--primary);
    --bento-card-color: var(--white);
    --bento-card-img-width: 70%;
  }
}
